In [1]:
#importing libraries
import pandas as pd
import numpy as np
import tensorflow as tf
import random
import functools
import math
import pickle
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import numpy as np
from tqdm import tqdm
from Utils.helper import *
from Utils.sample_squads import *

WARNING:tensorflow:From c:\Users\aravi\miniconda3\envs\iplsim\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
model_inn_1 = tf.keras.models.load_model('GitData/Inn1BestModel.h5')
model_inn_2 = tf.keras.models.load_model('GitData/Inn2BestModel.h5')

WARNING:tensorflow:From c:\Users\aravi\miniconda3\envs\iplsim\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Sample Squads. To change batting or bowling line up, please uncomment, change and run this before executing the next cells

# RCB_Pitch = "M Chinnaswamy Stadium"
# RCB_Batting = ["Royal Challengers Bangalore", "PA Patel",
#                "V Kohli", "AB de Villiers",
#                "M Ali", "S Hetmyer", "S Dube",
#                "C de Grandhomme", "N Saini", "YS Chahal",
#                "UT Yadav", "Mohammed Siraj"]
# RCB_Bowling = ["Royal Challengers Bangalore", "Mohammed Siraj",
#                "UT Yadav", "Mohammed Siraj",
#                "UT Yadav", "C de Grandhomme", "N Saini",
#                "C de Grandhomme", "YS Chahal", "N Saini",
#                "YS Chahal", "N Saini", "YS Chahal",
#                "Mohammed Siraj", "YS Chahal",
#                "C de Grandhomme", "N Saini",
#                "C de Grandhomme", "UT Yadav",
#                "Mohammed Siraj", "UT Yadav"
#                ]
# RCB_Squad = [RCB_Batting, RCB_Bowling]

# SRH_Pitch = "Rajiv Gandhi International Stadium, Uppal"
# SRH_Batting = ["Sunrisers Hyderabad", "J Bairstow", "DA Warner",
#                "MK Pandey", "V Shankar", "YK Pathan", "DJ Hooda",
#                "Mohammad Nabi", "B Kumar",
#                "Rashid Khan", "S Kaul",
#                "Sandeep Sharma"]

# SRH_Bowling = ["Sunrisers Hyderabad", "B Kumar",
#                "Sandeep Sharma", "B Kumar",
#                "Sandeep Sharma", "Rashid Khan", "S Kaul",
#                "Rashid Khan", "Mohammad Nabi", "S Kaul",
#                "Mohammad Nabi", "S Kaul", "Mohammad Nabi",
#                "B Kumar", "Mohammad Nabi",
#                "Rashid Khan", "S Kaul",
#                "Rashid Khan", "Sandeep Sharma",
#                "B Kumar", "Sandeep Sharma"]

# SRH_Squad = [SRH_Batting, SRH_Bowling]

# DC_Pitch = "Feroz Shah Kotla"

# DC_Batting = ["Delhi Capitals", "P Shaw", "S Dhawan", "SS Iyer",
#               "RR Pant", "CA Ingram",
#               "S Rutherford", "AR Patel", "A Mishra",
#               "K Rabada", "I Sharma", "S Lamichhane"]
# DC_Bowling = ["Delhi Capitals", "I Sharma",
#               "K Rabada", "I Sharma",
#               "K Rabada", "AR Patel", "A Mishra",
#               "AR Patel", "S Lamichhane", "A Mishra",
#               "S Lamichhane", "A Mishra", "S Lamichhane",
#               "I Sharma", "S Lamichhane",
#               "AR Patel", "A Mishra",
#               "AR Patel", "K Rabada",
#               "I Sharma", "K Rabada"]
# DC_Squad = [DC_Batting, DC_Bowling]

# MI_Pitch = "Wankhede Stadium"
# MI_Batting = ["Mumbai Indians", "Q de Kock", "RG Sharma", "SA Yadav",
#               "Ishan Kishan", "HH Pandya",
#               "KA Pollard", "KH Pandya", "RD Chahar",
#               "J Behrendorff", "JJ Bumrah", "SL Malinga"
#               ]
# MI_Bowling = ["Mumbai Indians", "J Behrendorff", "SL Malinga",
#               "J Behrendorff", "SL Malinga", "J Behrendorff",
#               "JJ Bumrah", "RD Chahar",
#               "JJ Bumrah", "RD Chahar", "KH Pandya",
#               "RD Chahar", "KH Pandya", "KH Pandya",
#               "KH Pandya", "RD Chahar",
#               "JJ Bumrah", "SL Malinga", "J Behrendorff",
#               "JJ Bumrah", "SL Malinga"]
# MI_Squad = [MI_Batting, MI_Bowling]

# KXIP_Pitch = "Holkar Cricket Stadium"
# KXIP_Batting = ["Kings XI Punjab", "KL Rahul", "CH Gayle",
#                 "MA Agarwal", "DA Miller", "N Pooran",
#                 "Mandeep Singh",
#                 "R Ashwin", "H Viljoen", "M Ashwin",
#                 "Mohammed Shami", "AS Rajpoot"
#                 ]
# KXIP_Bowling = ["Kings XI Punjab", "AS Rajpoot", "Mohammed Shami",
#                 "AS Rajpoot", "Mohammed Shami", "AS Rajpoot",
#                 "H Viljoen", "M Ashwin",
#                 "H Viljoen", "M Ashwin", "R Ashwin",
#                 "M Ashwin", "R Ashwin", "R Ashwin",
#                 "R Ashwin", "M Ashwin",
#                 "H Viljoen", "Mohammed Shami", "AS Rajpoot",
#                 "H Viljoen", "Mohammed Shami"]
# KXIP_Squad = [KXIP_Batting, KXIP_Bowling]

# CSK_Pitch = "MA Chidambaram Stadium, Chepauk"
# CSK_Batting = ["Chennai Super Kings", "SR Watson", "F du Plessis",
#                "SK Raina", "AT Rayudu", "KM Jadhav",
#                "MS Dhoni", "RA Jadeja",
#                "DJ Bravo", "SN Thakur",
#                "DL Chahar", "Imran Tahir"]
# CSK_Bowling = ["Chennai Super Kings", "DL Chahar",
#                "SN Thakur", "DL Chahar",
#                "SN Thakur", "DL Chahar",
#                "SN Thakur", "RA Jadeja",
#                "Imran Tahir", "RA Jadeja",
#                "Imran Tahir", "RA Jadeja",
#                "Imran Tahir", "RA Jadeja",
#                "DJ Bravo", "Imran Tahir",
#                "DJ Bravo", "SN Thakur",
#                "DJ Bravo", "DL Chahar", "DJ Bravo"]
# CSK_Squad = [CSK_Batting, CSK_Bowling]

# RR_Batting = ["Rajasthan Royals", "AM Rahane",
#               "JC Buttler", "SV Samson", "SPD Smith",
#               "RA Tripathi", "BA Stokes",
#               "R Parag", "J Archer", "S Gopal",
#               "DS Kulkarni", "JD Unadkat"
#               ]

# RR_Pitch = "Sawai Mansingh Stadium"
# RR_Bowling = ["Rajasthan Royals", "JD Unadkat",
#               "DS Kulkarni", "JD Unadkat",
#               "DS Kulkarni", "JD Unadkat",
#               "DS Kulkarni", "R Parag",
#               "S Gopal", "R Parag",
#               "S Gopal", "R Parag",
#               "S Gopal", "R Parag",
#               "J Archer", "S Gopal",
#               "J Archer", "DS Kulkarni",
#               "J Archer", "JD Unadkat", "J Archer"]
# RR_Squad = [RR_Batting, RR_Bowling]

# KKR_Pitch = "Eden Gardens"
# KKR_Batting = ["Kolkata Knight Riders", "S Gill",
#                "CA Lynn", "RV Uthappa", "N Rana",
#                "AD Russell", "KD Karthik",
#                "SP Narine", "PP Chawla", "Kuldeep Yadav",
#                "L Ferguson", "Prasidh Krishna"
#                ]
# KKR_Bowling = ["Kolkata Knight Riders", "Prasidh Krishna",
#                "L Ferguson", "Prasidh Krishna", "L Ferguson",
#                "Prasidh Krishna", "SP Narine", "Kuldeep Yadav",
#                "SP Narine", "Kuldeep Yadav", "PP Chawla",
#                "Kuldeep Yadav", "PP Chawla", "PP Chawla",
#                "PP Chawla", "Kuldeep Yadav",
#                "SP Narine", "L Ferguson", "Prasidh Krishna",
#                "SP Narine", "L Ferguson"]
# KKR_Squad = [KKR_Batting, KKR_Bowling]

In [6]:
inn1_df = pd.DataFrame(columns=BF_Cols)
inn1 = Innings(RCB_Squad[0], CSK_Squad[1], CSK_Squad[0][0], CSK_Pitch, 1, inn1_df)
target = inn1.simulate_inning(model_inn_1)
# with open("Evaluation/best_first_innings.pkl", "rb") as fp:
#     inn1 = pickle.load(fp)["inn1"]
target = inn1.Runs + 1
display_batting_table(inn1)

Royal Challengers Bangalore  :  116 / 7  in  20 . 0
Extras: 5

            Batsman Runs Fours Sixes Balls Faced Dismissal Type Dismissed By
0          PA Patel    8     1     0           9         Caught    DL Chahar
1           V Kohli   28     2     2          21            LBW    SN Thakur
2    AB de Villiers    0     0     0           3         Caught    DL Chahar
3             M Ali    6     1     0           6         Caught    RA Jadeja
4         S Hetmyer    0     0     0           3            LBW  Imran Tahir
5            S Dube    1     0     0           4         Caught    RA Jadeja
6   C de Grandhomme   15     2     0          12         Caught  Imran Tahir
7           N Saini   37     3     0          38        Not Out            -
8         YS Chahal   16     0     0          24        Not Out            -
9          UT Yadav    -     -     -           -              -            -
10   Mohammed Siraj    -     -     -           -              -            -

        Bowler Runs Conceded Wickets Taken Overs               Batsman Names
0  Imran Tahir            25             2   4.0  S Hetmyer, C de Grandhomme
1    RA Jadeja            16             2   4.0               M Ali, S Dube
2    DL Chahar            36             2   4.0    PA Patel, AB de Villiers
3     DJ Bravo            15             0   4.0                           -
4    SN Thakur            23             1   4.0                     V Kohli

  Dismissed Batsman Team Runs Overs
0          PA Patel        23     3
2    AB de Villiers        24     5
1           V Kohli        44     6
3             M Ali        44     7
4         S Hetmyer        45     8
5            S Dube        56     9
6   C de Grandhomme        63    10

   Over       Bowler Runs Conceded Wickets Taken Total Score Total Wickets
0     1    DL Chahar            14             0          14             0
1     2    SN Thakur             9             0          23             0
2     3    DL Chahar             1             1          24             1
3     4    SN Thakur             0             0          24             1
4     5    DL Chahar            11             1          35             2
5     6    SN Thakur             9             1          44             3
6     7    RA Jadeja             1             1          45             4
7     8  Imran Tahir             7             1          52             5
8     9    RA Jadeja             4             1          56             6
9    10  Imran Tahir             7             1          63             7
10   11    RA Jadeja             5             0          68             7
11   12  Imran Tahir             5             0          73             7
12   13    RA Jadeja             7             0          80             7
13   14     DJ Bravo             2             0          82             7
14   15  Imran Tahir             6             0          88             7
15   16     DJ Bravo             5             0          93             7
16   17    SN Thakur             5             0          98             7
17   18     DJ Bravo             3             0         101             7
18   19    DL Chahar            10             0         111             7
19   20     DJ Bravo             5             0         116             7

In [7]:
inn2_df = pd.DataFrame(columns=BS_Cols)
inn2 = Innings(CSK_Squad[0], RCB_Squad[1], CSK_Squad[0][0], RCB_Pitch, 2, inn2_df, target)
inn2.simulate_inning(model_inn_2)
display_batting_table(inn2)

Chennai Super Kings  :  117 / 6  in  17 . 0
Extras: 8

         Batsman Runs Fours Sixes Balls Faced Dismissal Type     Dismissed By
0      SR Watson   28     2     1          30         Caught          N Saini
1   F du Plessis   14     1     1           9         Caught  C de Grandhomme
2       SK Raina   13     1     1           8         Caught  C de Grandhomme
3      AT Rayudu    6     0     0          12            LBW          N Saini
4      KM Jadhav   14     1     0          15         Bowled  C de Grandhomme
5       MS Dhoni    7     1     0          10         Caught        YS Chahal
6      RA Jadeja   14     3     0           8        Not Out                -
7       DJ Bravo   13     2     0           9        Not Out                -
8      SN Thakur    -     -     -           -              -                -
9      DL Chahar    -     -     -           -              -                -
10   Imran Tahir    -     -     -           -              -                -

,Bowler,Runs Conceded,Wickets Taken,Overs,Batsman Names
0,Mohammed Siraj,11,0,3.0,-
1,UT Yadav,17,0,2.0,-
2,C de Grandhomme,28,3,3.5,"F du Plessis, SK Raina, KM Jadhav"
3,N Saini,29,2,4.0,"SR Watson, AT Rayudu"
4,YS Chahal,27,1,4.0,MS Dhoni

  Dismissed Batsman Team Runs Overs
1      F du Plessis        23     5
2          SK Raina        48     7
0         SR Watson        58     9
3         AT Rayudu        66    11
5          MS Dhoni        88    14
4         KM Jadhav        92    15

   Over           Bowler Runs Conceded Wickets Taken Total Score Total Wickets
0     1   Mohammed Siraj             4             0           4             0
1     2         UT Yadav            10             0          14             0
2     3   Mohammed Siraj             2             0          16             0
3     4         UT Yadav             7             0          23             0
4     5  C de Grandhomme             8             1          31             1
5     6          N Saini            12             0          43             1
6     7  C de Grandhomme             5             1          48             2
7     8        YS Chahal             9             0          57             2
8     9          N Saini             2             1          59             3
9    10        YS Chahal             5             0          64             3
10   11          N Saini             6             1          70             4
11   12        YS Chahal             8             0          78             4
12   13   Mohammed Siraj             5             0          83             4
13   14        YS Chahal             9             1          92             5
14   15  C de Grandhomme             6             1          98             6
15   16          N Saini            10             0         108             6